<%- include('./head.ejs') %>
      <%- include('./navigation.ejs') %>

    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
      
    
    

    <main>
      <% if (errorMessage) { %>

            <div class="user-message user-message--error">
                <%= errorMessage %>
            </div>
            <% } %>
            
            
        <form class="login-form" action="/signup" method="POST" novalidate>
            

            <div class="form-control">
                <label for="userName">שם משתמש</label>
                <input type="text" name="userName" id="userName" value="<%= oldInput.userName %>">
            </div>
            <div class="form-control">
                <label for="email">אימייל</label>
                <input
                class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>" 
                type="email" name="email" id="email" value="<%= oldInput.email %>">
            </div>
            <div class="form-control">
                <label for="password">סיסמא</label>
                <input class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>" 
                type="password" name="password" id="password" value="<%= oldInput.password %>">
            </div>
            <div class="form-control">
                <label for="confirmPassword">הקש שנית</label>
                <input class="<%= validationErrors.find(e => e.param === 'confirmPassword') ? 'invalid' : '' %>" 
                type="password" name="confirmPassword" id="confirmPassword" value="<%= oldInput.confirmPassword %>">
            </div>
            <button class="btn" type="submit">Signup</button>
        </form>
    </main>
    <%- include('./end.ejs') %>